.wrapper
  =render "shared/side_bar"

  .chat-main
    .main-header
      .main-header__left-box 
      
        %h2.main-header__left-box__current-group
          hogehoge
        %ul.main-header__left-box__members-list
          Member：
          %li.main-header__left-box__members-list__member 
            hoge

      .main-header__edit-button 
        =link_to "/groups/1/edit/" do
          Edit
          

    .messages
      = render @messages
    
    .form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'

        .form__mask
          = f.label :image, class: 'form__mask__image' do
            = fa_icon 'picture-o', class: 'icon'
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit'
